@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  min-height: 100%;
  background: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  background: #f5f5f5;
  border-bottom: 2px solid #411D67;
}
header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .nav-bar .logo a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #7300ff;
}
header .nav-bar .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .nav-bar .nav-list .nav-link {
  margin: 0 0.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-bar .nav-list .nav-link a {
  padding: 1em;
  color: #7300ff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
header .nav-bar .nav-list .nav-link a:hover {
  background: #7300ff;
  color: #f5f5f5;
  transition: all 0.1s ease;
}

main {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
main .resume-me {
  width: 100%;
  padding: 7em 0;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main .resume-me .photo-left img {
  width: 200px;
  padding: 0.3em;
  border: 3px solid #7300ff;
  border-radius: 50%;
}
main .resume-me .text-right {
  margin-left: 1em;
}
main .resume-me .text-right p {
  color: #7300ff;
  font-size: 20px;
}
main .resume-me .text-right p span.cursor {
  display: inline-block;
  background-color: #7300ff;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
main .resume-me .text-right p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #7300ff;
  }
  49% {
    background-color: #7300ff;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #7300ff;
  }
}
main .about-me {
  width: 100%;
  padding: 5em 0;
  background: #dedede;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main .about-me h2 {
  color: #7300ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 100%;
  margin-bottom: 1em;
}
main .about-me .text {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .about-me .text ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .about-me .text ul li {
  list-style-type: none;
  margin: 0.2em 0;
}
main .about-me .text ul li p {
  color: #411D67;
  text-indent: 1.3em;
  font-size: 16px;
}
main .skills {
  width: 100%;
  padding: 4em 0;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .skills .title-skill {
  margin: 1em 0;
}
main .skills .title-skill h2 {
  text-align: center;
  color: #7300ff;
}
main .skills .list-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: self-start;
}
main .skills .list-skills .list {
  color: #411D67;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main .skills .list-skills .list ul {
  margin: 0 1em;
}
main .skills .list-skills .list ul li {
  list-style-type: none;
}
main .skills .list-skills .list ul li p {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .skills .list-skills .list ul li p svg {
  width: 30px;
  height: 30px;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}
main .skills .button-projects {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .skills .button-projects a {
  padding: 0.5em;
  color: #7300ff;
  border: 3px solid #7300ff;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 10px;
}
main .skills .button-projects a:hover {
  background: #7300ff;
  color: #f5f5f5;
  transition: all 0.1s ease;
}
main .contact {
  width: 100%;
  padding: 3em 1.5em;
  background: #dedede;
  border-bottom: 2px solid #411D67;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .contact .contact-title {
  width: 100%;
}
main .contact .contact-title h2 {
  text-align: center;
  color: #7300ff;
  margin-bottom: 1em;
}
main .contact .division {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: self-start;
}
main .contact .division .left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .contact .division .left-part h3 {
  color: #7300ff;
  margin-top: 13px;
}
main .contact .division .left-part p {
  color: #411D67;
}
main .contact .division .left-part .list-link-git li {
  list-style-type: none;
}
main .contact .division .left-part .list-link-git li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.2em;
  font-size: 16px;
  font-weight: 700;
  color: #411D67;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 15px;
}
main .contact .division .left-part .list-link-git li a svg {
  margin-right: 0.2em;
}
main .contact .division .left-part .list-link-git li a:hover {
  color: #7300ff;
  transition: all 0.1s ease;
}
main .contact .division .right-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .contact .division .right-part .curriculum h3 {
  margin-top: 13px;
  color: #7300ff;
}
main .contact .division .right-part .curriculum a {
  color: #411D67;
  text-decoration: none;
}
main .contact .division .right-part .curriculum a:hover {
  color: #7300ff;
  text-decoration: underline;
}

footer {
  width: 100%;
  min-height: 5%;
  padding: 1em;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  width: 30%;
  text-align: center;
}
footer .logo a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #7300ff;
}
footer .medias {
  width: 30%;
}
footer .medias .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .medias .icons li {
  list-style-type: none;
  margin: 0 0.12em;
}
footer .medias .icons li a {
  color: #411D67;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .medias .icons li a:hover {
  color: #7300ff;
  transition: all 0.1s ease;
}
footer .copy {
  width: 30%;
  display: flex;
  justify-content: center;
}
footer .copy p {
  color: #411D67;
  font-size: 10px;
}

@media (max-width: 557px) {
  header .nav-bar .logo p {
    font-size: 22px;
  }
  main .resume-me .photo-left img {
    width: 160px;
  }
  main .resume-me .text-right p {
    font-size: 16px;
  }
  main .about-me h2 {
    font-size: 23px;
  }
  main .about-me .text ul li p {
    font-size: 14px;
  }
  main .about-me .image img {
    margin: 2em 0;
    width: 300px;
  }
  main .skills .title-skill h2 {
    font-size: 23px;
  }
  main .skills .list {
    margin-bottom: 0.5em;
  }
  main .skills .list h3 {
    font-size: 16px;
  }
  main .skills .list li p svg {
    width: 25px;
    height: 25px;
  }
  main .skills .button-projects a {
    padding: 0.8em;
  }
  main .contact .contact-title h2 {
    font-size: 23px;
  }
  main .contact .division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .contact .division .left-part h3 {
    font-size: 14px;
  }
  main .contact .division .left-part p {
    font-size: 12px;
  }
  main .contact .division .left-part .links .list-link-git a {
    font-size: 12px;
  }
  main .contact .division .right-part h3 {
    font-size: 14px;
  }
  main .contact .division .right-part a {
    font-size: 12px;
  }
  footer .copy p {
    font-size: 8px;
  }
  footer .logo a {
    font-size: 16px;
  }
  footer .medias .icons li a {
    font-size: 12px;
  }
}
@media (max-width: 488px) {
  main .resume-me .photo-left img {
    width: 140px;
  }
  main .resume-me .text-right p {
    font-size: 14px;
  }
  main .about-me h2 {
    font-size: 20px;
  }
  main .about-me .text ul li p {
    font-size: 12px;
  }
  main .skills .title-skill h2 {
    font-size: 20px;
  }
  main .skills .list-skills {
    margin-bottom: 0.5em;
  }
  main .skills .list-skills h3 {
    font-size: 14px;
  }
  main .skills .list-skills li p {
    font-size: 14px;
  }
  main .skills .list-skills li p svg {
    width: 25px;
    height: 25px;
  }
  main .skills .button-projects a {
    padding: 0.6em;
  }
  main .contact .contact-title h2 {
    font-size: 20px;
  }
  main .contact .division .left-part h3 {
    font-size: 14px;
  }
  main .contact .division .left-part p {
    font-size: 12px;
  }
  main .contact .division .left-part .links .list-link-git a {
    font-size: 12px;
  }
  main .contact .division .right-part h3 {
    font-size: 14px;
  }
  main .contact .division .right-part a {
    font-size: 12px;
  }
  footer .copy p {
    font-size: 8px;
  }
  footer .logo a {
    font-size: 14px;
  }
  footer .medias .icons li a {
    font-size: 10px;
  }
}
@media (max-width: 420px) {
  header .nav-bar .logo a {
    font-size: 16px;
  }
  header .nav-bar .nav-list .nav-link a {
    font-size: 14px;
  }
  main .resume-me .photo-left img {
    width: 100px;
  }
  main .resume-me .text-right p {
    font-size: 12px;
  }
  main .about-me {
    padding: 3em 0;
  }
  main .about-me h2 {
    font-size: 16px;
  }
  main .about-me .text .list .item-list p {
    font-size: 12px;
  }
  main .skills .title-skill h2 {
    font-size: 16px;
  }
  main .skills .title-skill .list-skills .list ul {
    margin: 0 1em;
  }
  main .skills .title-skill .list-skills .list ul li p svg {
    width: 20px;
    height: 20px;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
  }
  main .skills .button-projects a {
    padding: 0.8em;
    font-size: 12px !important;
  }
  main .contact .contact-title h2 {
    font-size: 16px;
  }
  main .contact .division .left-part h3 {
    font-size: 12px;
  }
  main .contact .division .left-part p {
    font-size: 10px;
  }
  main .contact .division .left-part .links .list-link-git a {
    font-size: 10px;
  }
  main .contact .division .right-part h3 {
    font-size: 12px;
  }
  main .contact .division .right-part a {
    font-size: 10px;
  }
  footer .copy p {
    font-size: 6px;
  }
  footer .logo a {
    font-size: 12px;
  }
  footer .medias .icons li a {
    font-size: 8px;
  }
  footer .medias .icons li a svg {
    width: 14px;
  }
}
@media (max-width: 322px) {
  header .nav-bar .logo a {
    font-size: 14px;
  }
  header .nav-bar .nav-list .nav-link {
    margin: 0 0.2em;
  }
  header .nav-bar .nav-list .nav-link a {
    padding: 1em 0.8em;
    font-size: 12px;
  }
  main .resume-me .photo-left img {
    width: 80px;
  }
  main .resume-me .text-right p {
    font-size: 12px;
  }
  main .about-me {
    padding: 3em 0;
  }
  main .about-me h2 {
    font-size: 14px;
  }
  main .about-me .text .list .item-list p {
    font-size: 10px;
  }
  main .skills .title-skill h2 {
    font-size: 14px;
  }
  main .skills .title-skill .list-skills .list ul {
    margin: 0 1em;
  }
  main .skills .title-skill .list-skills .list ul li p svg {
    width: 10px;
    height: 10px;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
  }
  main .skills .button-projects a {
    padding: 0.8em;
    font-size: 12px !important;
  }
  footer .copy p {
    font-size: 5px;
  }
  footer .logo a {
    font-size: 10px;
  }
  footer .medias .icons li a {
    font-size: 8px;
  }
  footer .medias .icons li a svg {
    width: 14px;
  }
}/*# sourceMappingURL=inicio.css.map */