@charset 'UTF-8';

//Importar alguma fonte que goste
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// -------Cores novas------- //
// Grafite: #222222
// Laranja: #D46924
// Outro Laranja: #F65B17
// Laranja claro: #FFB26A
// Branco: #F1F1F1
// Preta: #000000

// -------Cores velhas------- //
// $hd-color: #1a0033;
// $border-color: #c2c2c2;
// $important-text: #9a00c4;
// $text-color: #fff;
// $text-color-hover: #1a0033;

$color-1: #222222;
$color-2: #D46924;
$color-3: #F65B17;
$color-4: #FFB26A;
$color-5: #F1F1F1;
$color-6: #000000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    min-height: 100%;
    background: $color-6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

header {
    width: 100%;
    min-height: 5%;
    background: $color-1;
    border-bottom: 2px solid $color-3;


    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .logo{
            a {
                font-size: 20px;
                font-weight: 700;
                text-decoration: none;
                color: $color-2;
            }
        }

        .nav-list {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .nav-link {
                margin: 0 .4em;
                display: flex;
                flex-direction: row;
                align-items: center;
                
                a {
                    padding: 1em;
                    color: $color-5;
                    font-size: 16px;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all .1s ease;
                }

                a:hover {
                    background: $color-5;
                    color: $color-3;
                    transition: all .1s ease;
                }
            }
        }
    }
}

// MAIN

main {
    width: 100%;
    height: 100%;

    .principal {
        width: 100%;
        padding: 3em 0;
        border-bottom: 2px solid $color-3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .title {
            color: $color-3;
            text-align: center;
            margin: 1em 0;
        }

        .text {
            padding: 0 2em;
            color: $color-5;
            text-align: start;
        }
    }

    .project-parts {
        width: 100%;
        border-bottom: 2px solid $color-3;
        background: $color-1;

        .card-proj {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            
            .card {
                width: 380px;
                min-height: 480px;
                margin: .4em;
                border: 1px solid $color-3;
                background: $color-6;
                display: flex;
                flex-direction: column;
                border-radius: 8px;

                .img {
                    width: 100%;
                    margin: 0 0 .4rem 0;

                    img {
                        border-radius: 8px 8px 0 0;
                        width: 100%;
                        aspect-ratio: 4/3;
                        object-fit: cover;
                    }
                }

                .title{
                    width: 100%;
                    margin: .2rem 0;
                    padding: 0 1rem;

                    h2 {
                        color: $color-3;
                        text-align: center;
                    }
                }

                .btn-desc {
                    width: 100%;
                    margin: .2rem 0;
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;

                    .btn {
                        margin: .4rem 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        a {
                            text-decoration: none;
                            color: $color-5;
                            margin: 0 .5em 0;
                            padding: .2em .5em;
                            font-size: 16px;
                            font-weight: 600;
                            border: 3px solid $color-5;
                            border-radius: 5px;
                        }

                        a:hover {
                            background: $color-5;
                            color: $color-3;
                            scale: 1.1;
                            transition: all .1s ease;
                        }
                    }

                    .description {
                        width: 100%;
                        margin: .2rem 0;

                        p {
                            color: $color-5;
                            font-size: 16px;
                            text-align: center;

                            a {
                                text-decoration: none;
                                font-weight: 700;
                                color: $color-5;
                            }
    
                            a:hover {
                                text-decoration: underline;
                                transition: all .1s ease;
                            }
                        }
                    }
                }

                .icons {
                    margin: .2rem 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
    }
}

// FOOTER
footer {
    width: 100%;
    min-height: 5%;
    padding: 1em;
    background: $color-6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo{  
        width: 30%;
        text-align: center;

        a {
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
            color: $color-3;
        }
    }

    .medias {
        width: 30%;

        .icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            li {
                list-style-type: none;
                margin: 0 .12em;

                a {
                    color: $color-5;
                    font-size: 16px;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all .1s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                a:hover {
                    color: $color-3;
                    transition: all .1s ease;
                }
            }
        }
    }

    .copy{
        width: 30%;
        display: flex;
        justify-content: center;
        p {
            color: $color-4;
            font-size: 10px;
        }
    }
}
// Responsividade

@media (max-width: 557px) {
    header {
        .nav-bar{
            .logo{
                color: $color-5;

                a {
                    font-size: 20px;
                }
                
            }
        }
    }

    footer {
        .copy {
            p { 
                font-size: 8px;
            }
        }

        .logo {
            a {
                font-size: 16px;
            }
        }

        .medias {
            .icons {
                li {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    header {
        .nav-bar{
            .logo {
                a {
                    font-size: 16px;
                }
            }

            .nav-list {
                .nav-link {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    main {
        .principal {
            .title {
                h2 {
                    font-size: 18px;
                }
            }

            .text {
                p {
                    font-size: 14px;
                }
            }
        }

        .project-parts {
            .card-proj {
                .card {
                    width: 300px !important;
                    min-height: 350px;

                    .title {
                        h2 {
                            font-size: 20px;
                        }
                    }

                    .btn-desc {
                        .btn {
                            a {
                                font-size: 12px;
                                padding: .6em;
                            }
                        }

                        .description {
                            p {
                                font-size: 12px;
                            }
                        }
                    }

                    .icons {
                        svg {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 420px) {
        header {
            .nav-bar{
                .logo {
                    a {
                        font-size: 16px;
                    }
                }
    
                .nav-list {
                    .nav-link {
                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    
        main {
            .resume-me {
                .photo-left {
                    img {
                        width: 100px;
                    }
                }
    
                .text-right {
                    p {
                        font-size: 12px;
                    }
                }
            }
    
            .about-me {
                padding: 3em 0;
    
                h2 {
                    font-size: 16px;
                }
    
                .text {
                    .list {
                        .item-list {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
    
            .skills {
                .title-skill {
                    h2 {
                        font-size: 16px;
                    }
                    
                    .list-skills {
                        .list {      
                            ul { 
                                margin: 0 1em;      
                                li {
                                    p {
                                        svg {
                                            width: 20px; 
                                            height: 20px;  
                                            margin-bottom: .3em;
                                            margin-right: .3em;      
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                .button-projects {
                    a {
                        padding: .8em;
                        font-size: 12px !important;
                    }
                }
            }
    
            .contact {
                .contact-title {
                    h2 {
                        font-size: 16px;
                    }
                }
    
                .division {
                    .left-part {
                        h3 {
                            font-size: 12px;
                        }
    
                        p {
                            font-size: 10px;
                        }
    
                        .links {
                            .list-link-git {
                                a {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
    
                    .right-part {
                        h3 {
                            font-size: 12px;
                        }
    
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    
        footer {
            .copy {
                p {
                    font-size: 6px;
                }
            }
    
            .logo {
                a {
                    font-size: 12px;
                }
            }
    
            .medias {
                .icons {
                    li {
                        a {
                            font-size: 8px;
    
                            svg {
                                width: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 322px) {
    header {
        .nav-bar{
            .logo {
                a {
                    font-size: 14px;
                }
            }

            .nav-list {
                .nav-link {
                    margin: 0 .2em;

                    a {
                        padding: 1em .8em;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    main {
        .principal {
            .title {
                h2 {
                    font-size: 16px;
                }
            }

            .text {
                p {
                    font-size: 12px;
                }
            }
        }

        .project-parts {
            .card-proj {
                .card {
                    width: 250px !important;
                    min-height: 300px;

                    .title {
                        h2 {
                            font-size: 18px;
                        }
                    }

                    .btn-desc {
                        .btn {
                            a {
                                font-size: 10px;
                                padding: .4em;
                            }
                        }

                        .description {
                            p {
                                font-size: 10px;
                            }
                        }
                    }

                    .icons {
                        svg {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }

    footer {
        .copy {
            p {
                font-size: 5px;
            }
        }

        .logo {
            a {
                font-size: 10px;
            }
        }

        .medias {
            .icons {
                li {
                    a {
                        font-size: 8px;

                        svg {
                            width: 14px;
                        }
                    }
                }
            }
        }
    }
}