@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  min-height: 100%;
  background: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

header {
  width: 100%;
  min-height: 5%;
  background: #222222;
  border-bottom: 2px solid #F65B17;
}
header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .nav-bar .logo a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #D46924;
}
header .nav-bar .nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .nav-bar .nav-list .nav-link {
  margin: 0 0.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav-bar .nav-list .nav-link a {
  padding: 1em;
  color: #F1F1F1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.1s ease;
}
header .nav-bar .nav-list .nav-link a:hover {
  background: #F1F1F1;
  color: #F65B17;
  transition: all 0.1s ease;
}

main {
  width: 100%;
  height: 100%;
}
main .principal {
  width: 100%;
  padding: 3em 0;
  border-bottom: 2px solid #F65B17;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .principal .title {
  color: #F65B17;
  text-align: center;
  margin: 1em 0;
}
main .principal .text {
  padding: 0 2em;
  color: #F1F1F1;
  text-align: start;
}
main .project-parts {
  width: 100%;
  border-bottom: 2px solid #F65B17;
  background: #222222;
}
main .project-parts .card-proj {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main .project-parts .card-proj .card {
  width: 380px;
  min-height: 480px;
  margin: 0.4em;
  border: 1px solid #F65B17;
  background: #000000;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
main .project-parts .card-proj .card .img {
  width: 100%;
  margin: 0 0 0.4rem 0;
}
main .project-parts .card-proj .card .img img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
main .project-parts .card-proj .card .title {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0 1rem;
}
main .project-parts .card-proj .card .title h2 {
  color: #F65B17;
  text-align: center;
}
main .project-parts .card-proj .card .btn-desc {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
main .project-parts .card-proj .card .btn-desc .btn {
  margin: 0.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .project-parts .card-proj .card .btn-desc .btn a {
  text-decoration: none;
  color: #F1F1F1;
  margin: 0 0.5em 0;
  padding: 0.2em 0.5em;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid #F1F1F1;
  border-radius: 5px;
}
main .project-parts .card-proj .card .btn-desc .btn a:hover {
  background: #F1F1F1;
  color: #F65B17;
  scale: 1.1;
  transition: all 0.1s ease;
}
main .project-parts .card-proj .card .btn-desc .description {
  width: 100%;
  margin: 0.2rem 0;
}
main .project-parts .card-proj .card .btn-desc .description p {
  color: #F1F1F1;
  font-size: 16px;
  text-align: center;
}
main .project-parts .card-proj .card .btn-desc .description p a {
  text-decoration: none;
  font-weight: 700;
  color: #F1F1F1;
}
main .project-parts .card-proj .card .btn-desc .description p a:hover {
  text-decoration: underline;
  transition: all 0.1s ease;
}
main .project-parts .card-proj .card .icons {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  width: 100%;
  min-height: 5%;
  padding: 1em;
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  width: 30%;
  text-align: center;
}
footer .logo a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #F65B17;
}
footer .medias {
  width: 30%;
}
footer .medias .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .medias .icons li {
  list-style-type: none;
  margin: 0 0.12em;
}
footer .medias .icons li a {
  color: #F1F1F1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .medias .icons li a:hover {
  color: #F65B17;
  transition: all 0.1s ease;
}
footer .copy {
  width: 30%;
  display: flex;
  justify-content: center;
}
footer .copy p {
  color: #FFB26A;
  font-size: 10px;
}

@media (max-width: 557px) {
  header .nav-bar .logo {
    color: #F1F1F1;
  }
  header .nav-bar .logo a {
    font-size: 20px;
  }
  footer .copy p {
    font-size: 8px;
  }
  footer .logo a {
    font-size: 16px;
  }
  footer .medias .icons li a {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  header .nav-bar .logo a {
    font-size: 16px;
  }
  header .nav-bar .nav-list .nav-link a {
    font-size: 14px;
  }
  main .principal .title h2 {
    font-size: 18px;
  }
  main .principal .text p {
    font-size: 14px;
  }
  main .project-parts .card-proj .card {
    width: 300px !important;
    min-height: 350px;
  }
  main .project-parts .card-proj .card .title h2 {
    font-size: 20px;
  }
  main .project-parts .card-proj .card .btn-desc .btn a {
    font-size: 12px;
    padding: 0.6em;
  }
  main .project-parts .card-proj .card .btn-desc .description p {
    font-size: 12px;
  }
  main .project-parts .card-proj .card .icons svg {
    width: 40px;
  }
}
@media (max-width: 420px) and (max-width: 420px) {
  header .nav-bar .logo a {
    font-size: 16px;
  }
  header .nav-bar .nav-list .nav-link a {
    font-size: 14px;
  }
  main .resume-me .photo-left img {
    width: 100px;
  }
  main .resume-me .text-right p {
    font-size: 12px;
  }
  main .about-me {
    padding: 3em 0;
  }
  main .about-me h2 {
    font-size: 16px;
  }
  main .about-me .text .list .item-list p {
    font-size: 12px;
  }
  main .skills .title-skill h2 {
    font-size: 16px;
  }
  main .skills .title-skill .list-skills .list ul {
    margin: 0 1em;
  }
  main .skills .title-skill .list-skills .list ul li p svg {
    width: 20px;
    height: 20px;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
  }
  main .skills .button-projects a {
    padding: 0.8em;
    font-size: 12px !important;
  }
  main .contact .contact-title h2 {
    font-size: 16px;
  }
  main .contact .division .left-part h3 {
    font-size: 12px;
  }
  main .contact .division .left-part p {
    font-size: 10px;
  }
  main .contact .division .left-part .links .list-link-git a {
    font-size: 10px;
  }
  main .contact .division .right-part h3 {
    font-size: 12px;
  }
  main .contact .division .right-part a {
    font-size: 10px;
  }
  footer .copy p {
    font-size: 6px;
  }
  footer .logo a {
    font-size: 12px;
  }
  footer .medias .icons li a {
    font-size: 8px;
  }
  footer .medias .icons li a svg {
    width: 14px;
  }
}
@media (max-width: 322px) {
  header .nav-bar .logo a {
    font-size: 14px;
  }
  header .nav-bar .nav-list .nav-link {
    margin: 0 0.2em;
  }
  header .nav-bar .nav-list .nav-link a {
    padding: 1em 0.8em;
    font-size: 12px;
  }
  main .principal .title h2 {
    font-size: 16px;
  }
  main .principal .text p {
    font-size: 12px;
  }
  main .project-parts .card-proj .card {
    width: 250px !important;
    min-height: 300px;
  }
  main .project-parts .card-proj .card .title h2 {
    font-size: 18px;
  }
  main .project-parts .card-proj .card .btn-desc .btn a {
    font-size: 10px;
    padding: 0.4em;
  }
  main .project-parts .card-proj .card .btn-desc .description p {
    font-size: 10px;
  }
  main .project-parts .card-proj .card .icons svg {
    width: 30px;
  }
  footer .copy p {
    font-size: 5px;
  }
  footer .logo a {
    font-size: 10px;
  }
  footer .medias .icons li a {
    font-size: 8px;
  }
  footer .medias .icons li a svg {
    width: 14px;
  }
}/*# sourceMappingURL=projetos.css.map */